@import url('https://fonts.googleapis.com/css?family=Cantarell');


body {
    font-family: 'Cantarell', sans-serif;

    margin-top: 30px;
}


ul.topnav {
    overflow: hidden;
    background-color: #ffffff;
    text-align:center;
}

ul.topnav li{
	display: inline-block;
	border-right: 1px solid #000;
}


ul.topnav > li:last-child{
   border: none;
}


ul.topnav li a{
    color: #808080;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8em !important;
}

ul.topnav li a:hover,
ul.topnav li a.active {
	  background-color: #ffffff;
    color: #000000;
}

div.gallery-image img {
  width: 100%;
  height: auto;
}

.contactForm {
    display: inline-block;
    margin-right: 20px;
}

.descriptionText {
    display: inline-block;
}

.form-control {
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    width: 100%;
    margin: 0 0 30px -13px;
    resize: none;
}


.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

* {
    box-sizing: border-box;
}

.responsive {
    width: 29.99999%;
    height: auto;
    display:inline-block;
    margin: 5px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}